<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MozaikaApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MozaikaApp.Properties.Settings>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="WorkFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ForegroundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintDpi" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ViewDpi" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="TextSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CountWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CountHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Alpha" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Beta" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Gamma" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThicknessSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HeightMm" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="WidthMm" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="FaceMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="ProMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundPrintDpi" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="BackgroundFontSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BackgroundLineThickness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackgroundGap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColorThickness" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="BackgroundColorText" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="FirstStringColor" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="SecondStringColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="FirstPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondPrinterAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseIndents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftIndent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopIndent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeightTestPrinter" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WidthTestPrinter" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="CountPrinterPhotos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSeveralPhotos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSerialLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialLinkFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CountFrequencyLink" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialLinkQuality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialLinkAddresses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExperimentalProcess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstagramAfter" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramBefore" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramUpdateMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InstagramCommandString" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramAuthorization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstagramPhotoLoading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImageVisibility" serializeAs="String">
                <value>False</value>
            </setting>
        </MozaikaApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.1367" newVersion="7.2.0.1367" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
